.App {
  text-align: center;
}
body {
  font-size: 20px;
  background-color: white;
}
.center {
  text-align: center;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.buttonA {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  text-align: center;
}
.headerButton {
  display: flex;
  justify-content: end;

  border: none;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 20px;
  border-radius: 10px;
  text-align: center;
  color: black;
}
.linethrough {
  text-decoration: line-through;
  text-align: center;
  border-radius: 25%;
}

.orange {
  background-color: #f84a07;
  max-height: 100%;
  margin: 10px, 0, 10px, 0;
}

.randomquotes {
}
